*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
 #brand{
    font-size: 120%;
    margin-right: 15%;
    color: #ff4400;
 }
 .icons{
    width: 10%;
 }
 .nav-item a{
    text-decoration: none;
    color: #717275; 
 }
 #item{
    transition-duration: 0.9s;
 }
#item:hover{
    color: #ff4400;
    padding-bottom: 5%;
    border-bottom: 3px solid #717275c1;
 }
 .nav-item a span{
    color: #ff4400;
    padding-bottom: 5%;
    border-bottom: 3px solid #717275c1;
 }
 .navbar-brand{
      text-decoration: none;
      color: #000;
 }
 .navbar-brand span{
    color: #ff4400;
 }
 .container-fluid .navbar-brand{
    font-size: 150%;
 }
 .container-2{
    background-image: url("https://www.tooplate.com/templates/2127_little_fashion/images/slideshow/two-business-partners-working-together-office-computer.jpeg");
    width: 100%;
     padding: 10% 5% 15% 5%;
     color: white;
 }
.container-2 h1{
    font-size: 400%;
}
.container-2 p{
    font-size: 150%;
}
 .container-2 button{
    padding: 1% 4% 1% 4%;
    background-color: black;
    color: white;
    border: 2px solid #000;
    border-radius: 30px;
    transition-duration: 2s;
 }
 .container-2 button:hover{
    background-color: #ff4400;
    color: white;
    border: 2px solid #ff4400;
 }
 